<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio/perfil">Cementerios</a></li>
      <li class="breadcrumb-item"><a routerLink="/inicio/perfil">Perfil</a></li>
      <li class="breadcrumb-item"><a routerLink="/inicio/administradores">Administradores</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear Administrador</li>
    </ol>
  </nav>
  
  <div class="row" >
    <div class="col-12">
      <h1>Registro de administrador</h1>
    </div>
  </div>

  <div class="container-fluid">
    
    <div class="row">
      <div class="col-12">
        <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-5">
                <div class="form-group">
                  <label for="usuario"> Nombre de Usuario</label>
                  <input id="usuario" type="text"  class="form-control" formControlName="usuario"
                   required [ngClass]="{ 'is-invalid': submitted && usuario.errors }"/>
                  <div *ngIf=" usuario.invalid && (usuario.dirty || usuario.touched)" class="">
                    <div *ngIf="usuario.errors.required " class="text-danger">Ingresar un nombre de usuario</div>
                  </div>
                </div>
    
            </div>

            <div class="col-5">
                <div class="form-group">
                  <label for="correo"> Correo</label>
                  <input id="correo" type="text" formControlName="correo" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" required/>
                  <div *ngIf=" correo.invalid && (correo.dirty || correo.touched) " class="">
                    <div *ngIf="correo.errors.required" class="text-danger">Ingresar un correo electrónico</div>
                    <div *ngIf="correo.errors.email" class="text-danger">Ingresar un correo electrónico válido</div> 
                  </div>
                </div>
    
            </div>

            <div class="col-5">
              <div class="form-group">
                <label for="firstName">Nombres</label>
                <input id="firstName" type="text" formControlName="firstName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required/>
                <div *ngIf=" firstName.invalid && (firstName.dirty || firstName.touched)" >
                  <div *ngIf="firstName.errors.required" class="text-danger">Ingresar nombres</div>
                </div>
              </div>
  
            </div>
            <div class="col-5"> 
              <div class="form-group">
                <label for="lastName">Apellidos</label>
                <input id="lastName" type="text" formControlName="lastName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" >
                  <div *ngIf="lastName.errors.required" class="text-danger">Ingresar apellidos</div>
                </div>
              </div>
            </div>

            <div class="col-5"> 
                <div class="form-group">
                  <label for="contrasena">Contraseña</label>
                  <input id="contrasena" type="password" formControlName="contrasena" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
                  <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)" >
                    <div *ngIf="contrasena.errors.required" class="text-danger">Ingresar Contraseña</div>
                    <div *ngIf="contrasena.errors.minlength" class="text-danger">La contrasena debe tener minimo 6 carácteres </div>

                  </div>
                </div>
              </div>

                <div class="col-5"> 
                    <div class="form-group">
                    <label for="repetirContrasena"> Repetir Contraseña</label>
                    <input id="repetirContrasena" type="password" formControlName="repetirContrasena" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.repetirContrasena.errors }" />
                    <div *ngIf="repetirContrasena.invalid && (repetirContrasena.dirty || repetirContrasena.touched)">
                        <div *ngIf="repetirContrasena.errors.required" class="text-danger">Repetir la Contraseña</div>
                        <div *ngIf="repetirContrasena.errors.mustMatch" class="text-danger">Las contraseñas deben coincidir </div>
                    </div>
                    </div>
                </div>

                <div class="col-5"> 
                    <div class="form-group">
                    <label for="telefono"> Teléfono </label>
                    <input id="telefono" type="text" formControlName="telefono" class="form-control" minlength="9" maxlength="10" />
                        <div>
                          <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                            <div *ngIf="telefono.errors.required" class="text-danger">Campo requerido.</div>
                        </div>
                        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" >
                          <div *ngIf="telefono.errors.maxlength || telefono.errors.minlength" class="text-danger">Longitud mínima 9, máxima 10 .</div>
                      </div>
                        </div>
                    
                    </div>
                </div>
                
                <div class="col-5">
                    <div class="form-group">
                      <label>Tipo de Administrador:</label>
                      <div class="row">
                        <div class="col-6">
                          <input  id="superadmin" type="radio" value="su"  formControlName="tipoAdmin" required>
                          Super Administrador
                        </div>
                        <div class="col-6">
                          <input  id="admin" type="radio" value="ad"  formControlName="tipoAdmin" required> Administrador
                        </div>
                       
                      </div>
                      <div *ngIf="submitted && tipoAdmin.invalid" class="">
                        <div  class="text-danger">Elegir un tipo</div>
                      </div>
                    </div>
                  </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label>Cementerio:</label>
                <select id="cementerio" class="custom-select" formControlName="cementerio" 
                  [ngClass]="{ 'is-invalid': submitted && f.cementerio.errors }" required>
                  <option [ngValue]="null">Selecciona un cementerio</option>
                  <option value="1">Camposanto La aurora</option>
                  <option value="4">Camposanto Pascuales</option>
                  <option value="5">Camposanto Guayaquil</option>
                  <option value="6">Camposanto Daule</option>
                  <option value="15">Panteon Metropolitano</option>
                  <option value="16">Parque la paz Riobamba</option>

                  <option *ngFor="let cementerioif of cementerios; let i = index" [value]="cementerioif.nombre">{{cementerioif.nombre}}
                  </option>
                </select>
                <div *ngIf="submitted && (cementerio.invalid )" class="">
                  <div class="text-danger">Seleccione una opción</div>
                </div>
              </div>
  
            </div>
           
          </div>
          <div class="row mt-3">
            <div class="col-5">
                <div class="form-group">
                    <mat-slide-toggle id="permisoToggle" formControlName="permisoToggle" class="font-weight-bold" [checked]="permisoPaginas" 
                     labelPosition="before"  ng-model="pepe" (change)="onChange()">  Permiso de Páginas </mat-slide-toggle> 
                </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-4 mt-2">
                    <input ng-disabled="pepe" type="checkbox" value="crearAdmin" name="crearAdmin" formControlName="crearAdmin" [attr.disabled]="disabled ? '' : null" >
                    Crear Administrador
                  </div>
                  <div class="col-4 mt-2">
                    <input type="checkbox" value="subirHomenaje" name="subirHomenaje" formControlName="subirHomenaje" [attr.disabled]="disabled ? '' : null"> Subir Homenajes Pagados
                  </div>
                  <div class="col-4 mt-2">
                    <input type="checkbox" value="crearTarifasHomenaje" name="crearTarifasHomenaje" formControlName="crearTarifasHomenaje" [attr.disabled]="disabled ? '' : null">
                    Crear Tarifas de Homenajes
                  </div>
                  <div class="col-4 mt-2">
                    <input type="checkbox" value="registrarDifunto" name="registrarDifunto" formControlName="registrarDifunto" [attr.disabled]="disabled ? '' : null">
                    Registrar Datos del Difunto
                  </div>
                  <div class="col-4 mt-2">
                    <input type="checkbox" value="eliminarHomenajes" name="eliminarHomenajes" formControlName="eliminarHomenajes" [attr.disabled]="disabled ? '' : null">
                    Eliminar o Bloquear Homenajes
                  </div>
                  <div class="col-4 mt-2">
                    <input type="checkbox" value="editarRolesUsuarios" name="editarRolesUsuarios" formControlName="editarRolesUsuarios" [attr.disabled]="disabled ? '' : null">
                    Editar Roles de Usuarios
                  </div>
                  <div class="col-4 mt-2">
                    <input type="checkbox" value="mostrarTipsRecyNot" name="mostrarTipsRecyNot" formControlName="mostrarTipsRecyNot" [attr.disabled]="disabled ? '' : null">
                    Mostrar Tips, Recomendaciones y Notifiaciones
                  </div>
                </div>
                
              </div>
            </div>
          </div>
  
          
          <div class="form-group mt-10">
            <button class="btn btn-primary" type="submit" [disabled]="!adminForm.valid">Guardar registro</button>
          </div>
        </form>
      </div>
    </div>
  
  </div>
  