<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/inicio/dashboard">Cementerios</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Registrar Camposanto
    </li>
  </ol>
</nav>
<div class="container">
  <div class="about-heading-content">
    <div class="row">
      <div class="col-xl-11 col-lg-11 mx-auto">
        <div class="bg-faded rounded p-2">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Registrar Camposanto</span>
          </h2>
          <br />
          <form [formGroup]="form_cementerio" (submit)="submit()" enctype="multipart/form-data">
            <div class="form-row">
              <div class="form-group row col-6">
                <div class="col-3">
                  <label for="nombre" class="col-form-label col-form-label-sm"
                    ><i class="campo-req">*</i> Nombre:</label>
                </div>
                <div class="col-8">
                  <input
                    formControlName="nombre"
                    type="text"
                    class="form-control form-control-sm"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      form_cementerio.controls['nombre'].touched &&
                      form_cementerio.controls['nombre'].hasError('required')
                    " >
                    Nombre es requerido!
                  </span>
                </div>
              </div>
              <div class="form-group row col-6">
                <div class="col-3">
                  <label for="ruc" class="col-form-label col-form-label-sm"
                    ><i class="campo-req">*</i> Empresa:</label
                  >
                </div>
                <div class="col-8">
                  <select class="custom-select form-control form-control-sm"
                    formControlName="empresa" type="text">
                    <option *ngFor="let empre of empresas; let i = index" [value]="empre.id_empresa">{{ empre.nombre }}</option>
                  </select>
                  <span
                    class="text-danger"
                    *ngIf="form_cementerio.controls['empresa'].touched && form_cementerio.controls['empresa'].hasError('required')"
                  >
                    Empresa es requerida!
                  </span>
                </div>
              </div>
            </div>
            <br />
            <div class="form-row">
              <div class="form-group row col-6">
                <div class="col-3">
                  <label for="telefono" class="col-form-label col-form-label-sm">
                    <i class="campo-req">*</i>
                    Teléfono:
                  </label>
                </div>
                <div class="col-8">
                  <input formControlName="telefono" type="text" maxlength="14"  class="form-control form-control-sm"
                  />
                  <span class="text-danger"  *ngIf=" form_cementerio.controls['telefono'].touched && 
                  form_cementerio.controls['telefono'].hasError('pattern')">
                    Teléfono es requerido!
                  </span>
                </div>
              </div>
              <div class="form-group row col-6">
                <div class="col-3">
                  <label for="email" class="col-form-label col-form-label-sm"
                    ><i class="campo-req">*</i> Correo:</label
                  >
                </div>
                <div class="col-8">
                  <input formControlName="email"  type="email"  class="form-control form-control-sm" />
                  <span class="text-danger" 
                    *ngIf="
                      form_cementerio.controls['email'].touched &&
                      form_cementerio.controls['email'].hasError('required')
                    "
                  >
                    Email es requerido!
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="
                      form_cementerio.controls['email'].touched &&
                      form_cementerio.controls['email'].hasError('email')
                    "
                  >
                    Email no valido!
                  </span>
                </div>
              </div>
            </div>
            <br />
            <div class="form-row">
              <div class="form-group row col-6">
                <div class="col-3">
                  <label for="logo" class="col-form-label col-form-label-sm"
                    ><i class="campo-req">*</i> Logo:</label
                  >
                </div>
                <div class="col-8">
                  <div class="custom-file">
                    <input
                      formControlName="logo"
                      type="file"
                      class="custom-file-input form-control form-control-sm"
                      (change)="selectFile($event)"
                      lang="es"
                    />
                    <label
                      class="custom-file-label col-form-label col-form-label-sm"
                      for="customFileLang"
                      >{{ nameLogo }}</label
                    >
                  </div>
                  <span
                    class="text-danger"
                    *ngIf="
                      form_cementerio.controls['logo'].touched &&
                      form_cementerio.controls['logo'].hasError('required')
                    "
                  >
                    Logo es requerido!
                  </span>
                </div>
              </div>
              <div class="form-group row col-6" formArrayName="redes">
                <div class="row col-12">
                  <div class="col-3">
                    <label
                      for="red_social"
                      class="col-form-label col-form-label-sm"
                      >Red Social:</label
                    >
                  </div>
                  <div class="form-group col-9">
                    <div
                      class="col"
                      *ngFor="
                        let red_social of red_socialFormGroup.controls;
                        let i = index
                      "
                    >
                      <div [formGroupName]="i" class="row">
                        <div class="form-group row col">
                          <div class="col-10">
                            <input
                              class="form-control form-control-sm"
                              formControlName="redSocial"
                              type="text"
                            />
                          </div>
                          <div class="col-2">
                            <button
                              class="btn btn-danger btn-sm"
                              type="button"
                              (click)="removeRedSocial(i)"
                            >
                              <fa-icon [icon]="faMinusCircle"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="mx-auto">
                      <button
                        class="btn btn-success btn-sm"
                        type="button"
                        (click)="addRedSocial()"
                      >
                        <fa-icon [icon]="faPlusCircle"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="form-row">
              <div class="form-group row col-6">
                <div class="col-3">
                  <label
                    for="direccion"
                    class="col-form-label col-form-label-sm"
                    ><i class="campo-req">*</i> Dirección:</label
                  >
                </div>
                <div class="col-8">
                  <input
                    formControlName="direccion"
                    type="text"
                    class="form-control form-control-sm"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      form_cementerio.controls['direccion'].touched &&
                      form_cementerio.controls['direccion'].hasError('required')
                    "
                  >
                    Dirección es requerido!
                  </span>
                </div>
              </div>
              <div class="form-group row col-6">
                <div class="col-3">
                  <label for="mapa" class="col-form-label col-form-label-sm"
                    ><i class="campo-req">*</i> Mapa:</label
                  >
                </div>
                <div class="col-8">
                  <div class="form-row">
                    <div class="card col-9" style="width: 18rem;">
                      <ul class="list-group list-group-flush">
                        <li
                          class="list-group-item sizeFont"
                          *ngFor="let punto of puntosL; let i = index"
                        >
                          <div>
                            <span class="lNegrita">Lat: </span>{{ punto.lat }}
                          </div>
                          <div>
                            <span class="lNegrita">Lng: </span>{{ punto.lng }}
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-3 text-center">
                      <button
                        class="btn btn-warning btn-sm"
                        type="button"
                        data-toggle="modal"
                        data-target="#mapaModal"
                      >
                        <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
                      </button>
                    </div>
                  </div>
                  <!-- <span class="text-danger" *ngIf="form_cementerio.controls['mapa'].touched && form_cementerio.controls['mapa'].hasError('required')">
                              Mapa es requerido! </span> -->
                </div>
              </div>
            </div>
            <br />
            <div class="container">
              <div class="row">
                <div class="mx-auto">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!form_cementerio.valid"
                    type="submit"
                  >
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="modalPuntosGeo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faExclamationCircle" class="dangerColor"></fa-icon>
          Error
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>No ha Cargado puntos del poligono del en el mapa.</p>
        <p>Por favor llene.</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<app-poligono-map></app-poligono-map>
