<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio/dashboard">Cementerios</a></li>
      <li class="breadcrumb-item"><a routerLink="/inicio/perfil/{{this.id.camposanto}}">Perfil</a></li>
      <li class="breadcrumb-item"><a routerLink="/inicio/difuntos">Difuntos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Registro difuntos</li>
    </ol>
  </nav>
  
  <div class="row">
    <div class="col-12">
      <h1> Registro de difuntos</h1>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3>Información personal</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="difuntoForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="firstName">Nombres</label>
                <input type="text" formControlName="firstName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">Ingresar un nombre</div>
                </div>
              </div>
  
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="lastName">Apellidos</label>
                <input type="text" formControlName="lastName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Ingresar apellidos</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label>Género:</label>
                <select class="custom-select" formControlName="generoDropdown" placeholder="Seleccione un género"
                  [ngClass]="{ 'is-invalid': submitted && f.generoDropdown.errors }">
                  <option value=""></option>
                  <option value="Femenino">Femenino</option>
                  <option value="Masculino">Masculino</option>
                </select>
                <div *ngIf="submitted && f.generoDropdown.errors" class="invalid-feedback">
                  <div *ngIf="f.generoDropdown.errors">Seleccione una opción</div>
                </div>
              </div>
  
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="cedula"> No. de cédula</label>
                <input type="text" formControlName="cedula" class="form-control" minlength="10"
                  [ngClass]="{ 'is-invalid': submitted && f.cedula.errors }" />
                <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
                  <div *ngIf="f.cedula.errors.minlength "> Ingresar un número válido</div>
                </div>
                <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
                  <div *ngIf="f.cedula.errors?.required"> Se requiere este campo</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12">
              <h4>Información de nacimiento</h4>
            </div>
          </div>
  
          <div class="row">
            <div class="col-5">
              <div class="row">
  
                <div class="col-4">
                  <div class="form-group">
                    <label>DD:</label>
                    <select class="custom-select" formControlName="dayBirth" placeholder="DD" (change)="onChangeBirthDay($event.target.value)"
                      [ngClass]="{ 'is-invalid': submitted && f.dayBirth.errors }" id="daysBirth">
                      <option selected disabled>DD</option>
                    </select>
                    <div *ngIf="submitted && f.dayBirth.errors" class="invalid-feedback">
                      <div *ngIf="f.dayBirth.errors">Seleccione una opción</div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>MM:</label>
                    <select class="custom-select" formControlName="monBirth" (change)="onChangeBirthMonth($event.target.value)"
                      [ngClass]="{ 'is-invalid': submitted && f.monBirth.errors }">
                      <option selected disabled>MM</option>
                      <option *ngFor="let mon of monthNames" [value]=mon>{{mon}}</option>
                    </select>
                    <div *ngIf="submitted && f.monBirth.errors" class="invalid-feedback">
                      <div *ngIf="f.monBirth.errors">Seleccione una opción</div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>YY:</label>
                    <select class="custom-select" formControlName="yearBirth" (change)="onChangeBirthYear($event.target.value)"
                      [ngClass]="{ 'is-invalid': submitted && f.yearBirth.errors }" id="yearBirthSelector">
                      <option selected disabled>YY</option>
                    
                    </select>
                    <div *ngIf="submitted && f.yearBirth.errors" class="invalid-feedback">
                      <div *ngIf="f.yearBirth.errors">Seleccione una opción</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="birthPlace">Lugar de nacimiento</label>
                <input placeholder="Guayaquil, Ecuador" type="text" formControlName="birthPlace" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.birthPlace.errors }" />
                <div *ngIf="submitted && f.birthPlace.errors" class="invalid-feedback">
                  <div *ngIf="f.birthPlace.errors.required">Ingresar un lugar de nacimiento</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4>Información de defunción</h4>
            </div>
          </div>
  
          <div class="row">
            <div class="col-5">
              <div class="row">
  
                <div class="col-4">
                  <div class="form-group">
                    <label>DD:</label>
                    <select class="custom-select" formControlName="dayDeath" (change)="onChangeDeathDay($event.target.value)"
                      [ngClass]="{ 'is-invalid': submitted && f.dayDeath.errors }" id="daysDeath">
                      <option selected disabled>DD</option>
            
                    </select>
                    <div *ngIf="submitted && f.dayDeath.errors" class="invalid-feedback">
                      <div *ngIf="f.dayDeath.errors">Seleccione una opción</div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>MM:</label>
                    <select class="custom-select" formControlName="monDeath" placeholder="MM" (change)="onChangeDeathMonth($event.target.value)"
                      [ngClass]="{ 'is-invalid': submitted && f.monDeath.errors }">
                      <option selected disabled>MM</option>
                      <option *ngFor="let mon of monthNames" [value]=mon>{{mon}} </option>
                    </select>
                    <div *ngIf="submitted && f.monDeath.errors" class="invalid-feedback">
                      <div *ngIf="f.monDeath.errors">Seleccione una opción</div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>YY:</label>
                    <select class="custom-select" formControlName="yearDeath" (change)="onChangeDeathYear($event.target.value)"
                      [ngClass]="{ 'is-invalid': submitted && f.yearDeath.errors }" id="yearDeathSelector">
                      <option selected disabled>YY</option>
                    </select>
                    <div *ngIf="submitted && f.yearDeath.errors" class="invalid-feedback">
                      <div *ngIf="f.yearDeath.errors">Seleccione una opción</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="deathPlace">Lugar de defunción</label>
                <input placeholder="Guayaquil, Ecuador" type="text" formControlName="deathPlace" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.deathPlace.errors }" />
                <div *ngIf="submitted && f.deathPlace.errors" class="invalid-feedback">
                  <div *ngIf="f.deathPlace.errors.required">Ingresar un lugar de defunción</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12">
              <h3>Datos de Ubicación</h3>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Coordenadas de la sepultura:</label>
            </div>
            <div class="col-5">
              <button class="btn btn-success"
              data-toggle="modal"
              data-target="#mapaDifuntoModal"
              (click) = "ocultarAlertError()"
              >
              Elegir ubicación</button>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Tipo de sepultura:</label>
                <div class="row">
                  <select required formControlName="tipoSepultura" class="form-control custom-select" id="sepultura"
                  [ngClass]="{ 'is-invalid': submitted && f.tipoSepultura.errors }" (change)="onChangeSepultura($event.target.value)">
                    <option style="display:none" value=null default>Seleccione un tipo</option>
                    <option [value]="sep.id_tip_sepultura" *ngFor="let sep of lista_sepultura">{{sep.nombre}}</option>
                </select>
                </div>
                <div *ngIf="submitted && f.tipoSepultura.errors" class="invalid-feedback">
                  <div *ngIf="f.tipoSepultura.errors.required">Elegir un tipo</div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Sector:</label>
                <select class="custom-select" formControlName="sector" placeholder="Sector" (change)="onChangeSector($event.target.value)"
                  [ngClass]="{ 'is-invalid': submitted && f.sector.errors }" >
                  <option style="display:none" value=null>Seleccione un sector</option>
                  <option *ngFor="let sec of lista_sector" [value]=sec.id_sector>{{sec.nombre}}</option>
                </select>
                <div *ngIf="submitted && f.sector.errors" class="invalid-feedback">
                  <div *ngIf="f.sector.errors">Seleccione una opción</div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="lapida"> No. de lapida</label>
                <input type="text" formControlName="lapida" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.lapida.errors }" />
                <div *ngIf="submitted && f.lapida.errors" class="invalid-feedback">
                  <div *ngIf="f.lapida.errors?.required"> Se requiere este campo</div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
                      </div>
          <div class="row">
            <div class="col-12">
              <h3>Información de contacto responsable</h3>
              <hr>
            </div>
          </div>
          <form [formGroup]="responsableForm" >
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="NombreRes">Nombres del responsable: </label>
                <input type="text" formControlName="NombreRes" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && r.NombreRes.errors }" />
                <div *ngIf="submitted && r.NombreRes.errors" class="invalid-feedback">
                  <div *ngIf="r.NombreRes.errors.required">Ingresar un nombre</div>
                </div>
              </div>
  
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="ApellidoRes">Apellidos del responsable:</label>
                <input type="text" formControlName="ApellidoRes" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && r.ApellidoRes.errors }" />
                  <div *ngIf="submitted && r.ApellidoRes.errors" class="invalid-feedback">
                  <div *ngIf="r.ApellidoRes.errors.required">Ingresar apellidos</div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="telefono">Teléfono del responsable:</label>
                <input type="text" formControlName="telefono" class="form-control" minlength="9"
                  [ngClass]="{ 'is-invalid': submitted && r.telefono.errors }" />
                  <div *ngIf="submitted && r.telefono.errors" class="invalid-feedback">
                  <div *ngIf="r.telefono.errors.maxlength "> Ingresar un número válido</div>
                  </div>
                  <div *ngIf="submitted && r.telefono.errors" class="invalid-feedback">
                  <div *ngIf="r.telefono.errors?.required"> Se requiere este campo</div>
                  </div>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="correo">Correo del responsable:</label>
                <input type="email" formControlName="correo" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && r.correo.errors }" />
                <div *ngIf="submitted && r.correo.errors" class="invalid-feedback">
                  <div *ngIf="r.correo.errors.email">El correo no es válido</div>
                </div>
                <div *ngIf="submitted && r.correo.errors" class="invalid-feedback">
                  <div *ngIf="r.correo.errors?.required">Este campo es obligatorio</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="celular">Celular del responsable:</label>
                <input type="text" formControlName="celular" class="form-control" minlength="10"
                  [ngClass]="{ 'is-invalid': submitted && r.celular.errors }" />
                  <div *ngIf="submitted && r.celular.errors" class="invalid-feedback">
                  <div *ngIf="r.celular.errors.maxlength "> Ingresar un número válido</div>
                  </div>
                  <div *ngIf="submitted && r.celular.errors" class="invalid-feedback">
                  <div *ngIf="r.celular.errors?.required"> Se requiere este campo</div>
                  </div>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label>Parentesco:</label>
                <select class="custom-select" formControlName="parentesco" placeholder="Seleccione un parentesco"
                  [ngClass]="{ 'is-invalid': submitted && r.parentesco.errors }">
                  <option>Hijo/a</option>
                  <option>Esposo/a</option>
                  <option>Nieto/a</option>
                  <option>Hermano/a</option>
                  <option>Primo/a</option>
                  <option>Otro</option> 
                </select>
                <div *ngIf="submitted && r.parentesco.errors" class="invalid-feedback">
                  <div *ngIf="r.parentesco.errors">Seleccione una opción</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="direccion">Dirección del responsable:</label>
                <input type="text" formControlName="direccion" class="form-control" minlength="10"
                  [ngClass]="{ 'is-invalid': submitted && r.direccion.errors }" />
                  
                  <div *ngIf="submitted && r.direccion.errors" class="invalid-feedback">
                  <div *ngIf="r.direccion.errors?.required"> Se requiere este campo</div>
                  </div>
              </div>
            </div>
            </div>
        </form>
          <div class="form-group mt-10">
            <button class="btn btn-primary" [disabled]="(!difuntoForm.valid)||(!responsableForm.valid)">Guardar registro</button>
          </div>
        </form>
      </div>
    </div>
  
  </div>
  
<div class="modal fade" id="mapaDifuntoModal" tabindex="-1" aria-labelledby="mapaDifuntoModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccionar punto de geolocalizacion del difunto</h5>
          <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div *ngIf="alertError">
              <div class="alert alert-danger" role="alertError">
                <small>No ha seleccionado el punto de donde esta el fallecido, por favor dibuje el poligono</small>
              </div>
            </div>
            <div class="form-row col-12">
                <div class="agm-container col-12 p-1">
                  <agm-map 
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [disableDefaultUI]="false"
                  (mapClick)="crearPunto($event)">
                    <agm-marker 
                        *ngFor="let m of markers; let i = index"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [label]="'F'"
                        [markerDraggable]="true"
                        (dragEnd)="reescribirRuta(m, $event)">
                    </agm-marker>
                  </agm-map>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click) = "cargarPunto()">Cargar</button>
        </div>
      </div>
    </div>
</div>